
/*#########*/
/*Index*/
/*#########*/

/*-------*/
/*Logo*/
/*-------*/

.navMenu{
    position: relative;

}

.navMenu #logo{
    position: inherit;
    height: auto;
    width: 13%;

    float: left;

    min-width: 65px;
    min-height: 20px;

    margin-left: 5%;
}

/*------------*/
/*Nav Option*/
/*------------*/

.navMenu >ul {
position: inherit;

list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
}

.navOption{
   float: right;
   height: 100%;
   border: #000000;
   padding: 1%;
}



.navOption > a, button{
    display: block;
    color: #C10C0C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   font-size: 1.5vw;
   background-color: white;
   border: none;
}

.navOption > a:hover {
    background-color: #C10C0C;
    color: #ffffff;
  }

 .topnav{
     display: none;
 }

  /*------------
  Hamburger Nav
  ------------*/

  @media only screen and (max-width: 600px){
      .navMenu{
          display: none;
      }

      .banner{
          display: none;
      }

      #smlPHLogo{
          position: relative;
          width: 20%;
          height: auto;

          top: -21%;
      }

      .topnav {
        overflow: hidden;
        background-color: #C10C0C;
        position: relative;
        display: block;
      }

      #topNavMenu #smlPHLogo{
        top: 10%;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
      }
      
      /* Style navigation menu links */
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      /* Style the hamburger menu */
      .topnav a.icon {
        background: #C10C0C;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      /* Add a grey background color on mouse-over */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Style the active link (or home/logo) */
      .active {
        background-color: white;
        color: white;
      }

      .bodyWhole{
       padding-bottom: 15%;
      }  
      
      .bodyTop {
        margin: 1px;
        padding-bottom: 20px;
        }
    }
      

/*---------*/
/*Banner*/
/*---------*/

.banner{
    position: relative;

    height: 10%;
    width: 99%;

    top: 0%;

    background-color: #C10C0C;
    
}

.child{
    display: i4;
}
.orderOptions{
    width: 20%;

    top: 50%;
    left: 10%;
    display:inline-block;
    position: inherit;
    padding-right:5%;
    font-size: 1vw;
}

.go_button{
    position: inherit;
    left: 12%;

    top: 11%;
    display: inline-flex;
    flex-direction: right;

    background-color: white; 
    border: black solid 2px;
    color: #8E1616;
    padding: .3% 1%;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    font-size: 1.3vw;
}



.bannerText{
    position: inherit;
    display: inline-block;
    flex-direction: row;
    font-size: 1.5vw;

    color: white;
}

.pickUp{
    position: inherit;
    top: 10%;

    display: flex;
    flex-direction: row;
}

.findStore{
    position: inherit;
    left: 50%;
    bottom:   50%;
    display: inline-block;
    align-items: center;
    
}

.findStoreButton{
    text-align: center;
    font-size: 1.3vw;

   
    color: white;
    line-height: 0%;
    text-decoration: none;
}

.findStore #location{
    height: 9%;
    width: 9%;

    position: relative;
}
/*------*/
/*Body*/
/*------*/
.bodyWhole{
    margin-bottom: 1%;
}

.bodyTop {
    position: relative;
    left: 0px;
    top: 100%;

    margin: 1px;
    padding-bottom: max(6%, 60px);

    display: flex;
    flex-direction:row;
    
}

.deals {
    position: inherit;
    top: 60%;
    left: 10%;
    
    width: 25%;
    height: 100%;

    margin: 1px;
}

.deals #dealsImg{
    width: 110%;
    height: 100%;

    background-color: #C10C0C;
}

.dealsButton{
    position: absolute;
    top: 100%;
    left: 55%;
    width: 110%;
   

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    background-color: #C10C0C;
    color: white;
    
    font-size: max(2.5vw, 12px);
    
 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}

.tryMe{
    position: inherit;
    top: 1%;
    left: 40%;

    width: 25%;
    height: 100%;

    margin: 1px;
}

.tryMe #tryMeImg{
    width: 110%;
    height: 105%;

}

.tryMeButton{
    position: absolute;
    top: 106%;
    left: 55%;
    width: 110%;
   

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    background-color: #C10C0C;
    color: white;
    
    font-size: max(2.5vw, 12px);
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.bodyBottom{
    position: relative;
    top: 100%;

    display: flex;
    flex-direction:row;

    margin-top: 1px;

    padding-bottom: 1%;
}

.catering{
    position: relative;
    top: 60%;
    left: 10%;
    
    width: 25%;

    margin: 1px;
}

.catering #caterImg{
    width: 110%;
    height: auto;
}

.cateringButton{
    position: absolute;
    top: 92%;
    left: 55%;
    width: 110%;
   

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    background-color: #C10C0C;
    color: white;
    
    font-size: max(2.5vw, 12px);
    
 
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.covidHealth{
    position: relative;
    top: 1%;
    left: 40%;

    width: 25%;
    height: 100%;

    margin: 1px;
}

.covidHealth #covidImg{
    width: 110%;
    height: auto;
}

.covidButton{
    position: absolute;
    top: 92%;
    left: 55%;
    width: 110%;
   

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    background-color: #C10C0C;
    color: white;
    
    font-size: max(2.5vw, 12px);
    
 
    border: none;
    cursor: pointer;
    border-radius: 5px;
}



/***********/
/*Footer*/
/***********/

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #C10C0C;
    padding: 0px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*------------*/
/*responsive*/
/*------------*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*-----------------*/
/*Pizza Menu Body*/
/*-----------------*/

.row1{
position: relative;
top: 10%;
left: 10%;

text-align: left;
margin-bottom: 1%;

}

.col1{
    position: inherit;
    margin: auto 0; 
    display: inline-block;
    top: 1%;
    padding-top: 1%;
}

.col2 {
    position: inherit;
    top: 1%;
    padding-top: 1%;
    margin: auto 0; 
   display: inline-block;

   margin-left: 10%;
   margin-right: 10%;
}

.col3 {
    position: inherit;
    top: 1%;
    padding-top: 1%;

    display: inline-block;
}



.pizzaName{
    font-size: 1.3vw;

    background-color: #C10C0C;
    color: #ffffff;

}

.menuItem{
    position: relative;

    top: 1%;

    width: 10%;
    height: 8%;
}

.menuDescrip{
    display: none;
}

.addToCart{
    position: relative;
    width: 100%;

    padding: 10%, 30%;
    background-color: #04AA6D;

    color: white;

    display: inline-block;

    cursor: pointer;
}

/*---------
Responsive
----------*/
@media only screen and (max-width: 600px){
    .catergoryModal{
        display: none;
        position: fixed;
        z-index: 1;
        left: 3.7%;
        top: 7%;
        width: 67%;
        height: 85%;
        height: max(300px);
        overflow: auto;
        background-color: white;
        background-color: rgba(235, 228, 228, 0);
    }

    .catHeader{
        position: relative;
        top: 6%;
        width: 77%;
    
        text-align: center;
    
        font-size: 18px;
        color: white;
    
        background-color: #C10C0C;
    
        padding: 3% 7%;
    }

    .catUl{
        font-size: 16px;

        text-align: left;

        padding-left: 8px;
    }

    .catLi{
        padding-bottom: 5%;
    }

    #catButton{
        position: relative;
        top: 7%;
        left: 5%;
       
        background-color: #C10C0C;
        border: #000000 solid 1px;
    
        font-size: 20px;
        color: white;
        
        padding: 13px 60px;
    
        margin-bottom:1%;
    }

    .catergory-Content{
        background-color: #fefefe;
        margin: 10% auto;
        padding: 1px;
        border: 2px solid #C10C0C;
        width: 87%;
    }

    /*Section Head*/
    .sectionHead{
        position: relative;
        top: 30%;
        width: 100%;
    
        left: 0%;
    
        background-color: #C10C0C;
        text-align: center;
        padding: 15px;
    
        font-size: 35px;
        color: white;
    }
    
    /*Pizza Menu body*/
    .row1{
        position: relative;
        top: 10%;
        left: 0px;
        
        text-align: left;
        margin-bottom: 1%;

        padding-left: 0px;
        
        }
        
        .col1{
            position: inherit;
            margin: auto 0; 
            display: inline-block;
            top: 1%;
            padding-top: 1%;

            left: -36px;
        }
        
        .col2 {
            position: inherit;
            top: 1%;
            padding-top: 1%;
            margin: auto 0; 
           display: inline-block;
        
           margin-left: -36px;
           margin-right: 10%;

        left: 0px;
        }
        
        .col3 {
            position: inherit;
            top: 1%;
            padding-top: 1%;
        
            display: inline-block;

            left: -36px;
        }
        
        
        
        .pizzaName{
            font-size: 18px;
        
            background-color: #C10C0C;
            color: #ffffff;
        
        }
        
        .menuItem{
            position: relative;
        
            top: 1%;
        
            width: 10%;
            height: 8%;
        }
        
        .menuDescrip{
            display: none;
        }
        
        .addToCart{
            position: relative;
            width: 100%;
        
            padding: 10%, 30%;
            background-color: #04AA6D;
        
            color: white;
        
            display: inline-block;
        
            cursor: pointer;

            font-size: 18px;
        }

}

/*---------------*/
/*Sign Up/ Login*/
/*---------------*/

.loginBody{
    position: absolute;
   color: white;
    width: 40%;
    left: 30%;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#logInBtn2{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelBtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
    background-color: #C10C0C;
}

#contLogin{
    border-bottom: none;
}

#contSignUp{
    border-top: none;
}

.liSUHead{
    position: relative;
    left: 40%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    .span.psw {
        display: block;
        float: none;
    }
    .cancelBtn {
        width: 100%;
    }
}

/*#####*/
/*Cart*/
/*#####*/


